*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details
{
    border: 2px solid black;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgba(240, 255, 255, 0.532);
    height: 280px;
    width: 400px;
    display: inline-block;

}
.prof h1
{
    background-color: bisque;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 50%;
}
.det
{
  font-family: 'Times New Roman', Times, serif;
  padding: 15px;
  line-height: 35px;
}
